<h2>Address: <%= @house.address %></h2>
<h3>Residents:
  <% @house.residents.each do |resident| %>
    <a href="/humans/<%= resident.id %>">
      <%= resident.full_name %></a><%= ', ' unless resident.id == @house.residents.last.id %>
  <% end %>
</h3>
<h3>Cats:
  <% if @house.cats %>
    <% @house.cats.each do |cat| %>
      <a href="/cats/<%= cat.id %>"><%= cat.name %></a><%= ', ' unless cat.id == @house.cats.last.id %>
    <% end %>
  <% else %>
    <%= 'None :(' %>
  <% end %>
</h3>

<a href='/houses'><h3>All Houses</h3>
