<% @humans.each do |human| %>
  <h2>Name:
    <a href="/humans/<%= human.id %>"><%= human.full_name %></a>
  </h2>
  <h3>Home Address:
    <a href="/houses/<%= human.house.id %>"><%= human.house.address %></a>
  </h3>
  <h3>Cats:
    <% human.cats.each do |cat| %>
      <a href="/cats/<%= cat.id %>"><%= cat.name %></a><%= ', ' unless cat.id == human.cats.last.id %>
    <% end %>
    <%= 'None :(' if human.cats.empty? %>
  </h3>
  <br>
<% end %>
