<% @cats.each do |cat| %>
  <h2>Name:
    <a href="/cats/<%= cat.id %>"><%= cat.name %></a>
  </h2>
  <h3>Owner:
    <% if cat.owner %>
      <a href="/humans/<%= cat.owner.id %>"><%= cat.owner.full_name %></a>
      <h3>Home Address:
        <a href="/houses/<%= cat.house.id %>"><%= cat.house.address %></a>
      </h3>
    <% else %>
      None :(
    <% end %>
  </h3>
  <br>
<% end %>
